USE [Bd2]
GO
/****** Object:  Table [dbo].[tabla1]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tabla1](
	[Tabla1Id] [int] IDENTITY(1,1) NOT NULL,
	[Campo1] [varchar](20) NULL,
	[campo4] [datetime] NOT NULL,
	[Campo3] [decimal](2, 2) NULL,
 CONSTRAINT [PK_Tabla1] PRIMARY KEY CLUSTERED 
(
	[Tabla1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tabla1ConTabla2]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla1ConTabla2](
	[Tabla1Id] [int] NOT NULL,
	[Tabla2Id] [int] NOT NULL,
 CONSTRAINT [PK_Tabla1ConTabla2] PRIMARY KEY CLUSTERED 
(
	[Tabla1Id] ASC,
	[Tabla2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tabla2]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tabla2](
	[Tabla2Id] [int] IDENTITY(1,1) NOT NULL,
	[Campo1] [varchar](10) NULL,
	[campo2] [varchar](10) NULL,
	[Campo3] [decimal](2, 2) NOT NULL,
	[Campo4] [decimal](2, 2) NOT NULL,
 CONSTRAINT [PK_Tabla2] PRIMARY KEY CLUSTERED 
(
	[Tabla2Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tabla3]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tabla3](
	[Tabla3Id] [varchar](20) NOT NULL,
	[Campo1] [int] NULL,
	[Campo2] [varchar](10) NULL,
 CONSTRAINT [pktabla3] PRIMARY KEY CLUSTERED 
(
	[Tabla3Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tabla4]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tabla4](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Campo1] [int] NULL,
	[Campo2] [varchar](10) NULL,
	[Campo3] [decimal](2, 2) NOT NULL,
	[Campo4] [int] NULL,
 CONSTRAINT [PK_Tabla4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tablanueva]    Script Date: 18/7/2019 01:13:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tablanueva](
	[Tabla1Id] [int] IDENTITY(1,1) NOT NULL,
	[Campo1] [varchar](20) NULL,
	[campo2] [datetime] NOT NULL,
	[Campo3] [decimal](2, 2) NULL,
 CONSTRAINT [PK_Tablanueva] PRIMARY KEY CLUSTERED 
(
	[Tabla1Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Tabla1ConTabla2]  WITH CHECK ADD  CONSTRAINT [FK_Tabla1Tabla2_Tabla1] FOREIGN KEY([Tabla1Id])
REFERENCES [dbo].[tabla1] ([Tabla1Id])
GO
ALTER TABLE [dbo].[Tabla1ConTabla2] CHECK CONSTRAINT [FK_Tabla1Tabla2_Tabla1]
GO
ALTER TABLE [dbo].[Tabla1ConTabla2]  WITH CHECK ADD  CONSTRAINT [FK_Tabla1Tabla2_Tabla2] FOREIGN KEY([Tabla2Id])
REFERENCES [dbo].[Tabla2] ([Tabla2Id])
GO
ALTER TABLE [dbo].[Tabla1ConTabla2] CHECK CONSTRAINT [FK_Tabla1Tabla2_Tabla2]
GO
ALTER TABLE [dbo].[Tabla4]  WITH CHECK ADD  CONSTRAINT [FK_Tabla4_Tabla1] FOREIGN KEY([Campo1])
REFERENCES [dbo].[tabla1] ([Tabla1Id])
GO
ALTER TABLE [dbo].[Tabla4] CHECK CONSTRAINT [FK_Tabla4_Tabla1]
GO
ALTER TABLE [dbo].[Tabla3]  WITH CHECK ADD  CONSTRAINT [CHK_Campo1] CHECK  (([Campo1]>(1)))
GO
ALTER TABLE [dbo].[Tabla3] CHECK CONSTRAINT [CHK_Campo1]
GO
